header {
    background-color: #1F2937;
}

.flexheader{
    display: flex;
    padding-bottom: -1em;
}
.intro {
    display: inline-block
}
.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8
}
.secondary {
    font-size: 18px;
    color: #e5e7eb;
}
.headerlink {
    font-size: 18px;
    color: #e5e7eb;
    height: 100px;
    flex: 1 1 0%;   
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    height: 100 px;
    flex: 2 1 0%;
}

.button1 {
    background-color: #3882f6;
}
.action {
    background-color: #3882f6;
}
.infotext {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}
.quote {
    background-color: #e5e7eb;
    color: #1F2937
}
.quotetext{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937
}