header {
    background-color: #1F2937;
    display: flex;
}


.headerlink {
    font-size: 18px;
    color: #e5e7eb;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 0%;   
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
    height: 100 px;
    flex: 2 1 0%;
}

.intro {
    display: inline-flex;
    flex: 1 1 0%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    
}
.secondary {
    font-size: 18px;
    color: #e5e7eb;  
}

.button1 {
    background-color: #3882f6;
}

.action {
    background-color: #3882f6;
}
.imgsection{
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
}
.image2 {
    border-radius: 25px;
    border: 2px solid #1F2937;
    padding: 10px;
    width: 100px;
    height: 75px; 
}
.imgtext {
    
}
.infotext {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: inline-flex;
    flex: 1 4 0%
}
.quote {
    background-color: #e5e7eb;
    color: #1F2937
}
.quotetext{
    font-size: 36px;
    font-style: light italic;
    color: #1F2937
}